  <%= render partial: 'spree/shared/slider', locals: { slider: Spree::Slide.published, cid: 'dinar', interval: false } %>s
<div class="container">

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Featured</a></li>
    <li><a data-toggle="tab" href="#menu1">Latest</a></li>
    <li><a data-toggle="tab" href="#menu2">Popular</a></li>
  </ul>
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <div data-hook="">
        <% cache(cache_key_for_products) do %>
          <%= render :partial => 'spree/shared/latest_products', :locals => { :products => @products1 } %>
        <% end %>
      </div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <div data-hook="">
        <% cache(cache_key_for_products) do %>
          <%= render :partial => 'spree/shared/latest_products', :locals => { :products => @products } %>
        <% end %>
      </div></div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>

 </div>

    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#bag">Bags</a></li>
      <li><a data-toggle="tab" href="#mugs">Mugs</a></li>
      <li><a data-toggle="tab" href="#clothing">Clothing</a></li>
      <li><a data-toggle="tab" href="#tshirts">T-Shirts</a></li>
    </ul>
    <div class="tab-content">
      <div id="bag" class="tab-pane fade in active">
        <div data-hook="">
          <% cache(cache_key_for_products) do %>
            <%= render :partial => 'spree/shared/latest_products', :locals => { :products => @products1 } %>
          <% end %>
        </div>
      </div>
      <div id="mugs" class="tab-pane fade">
        <div data-hook="">
          <% cache(cache_key_for_products) do %>
            <%= render :partial => 'spree/shared/latest_products', :locals => { :products => @products } %>
          <% end %>
        </div></div>
      <div id="clothing" class="tab-pane fade">
        <h3>Menu 2</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>
      <div id="clothing" class="tab-pane fade">
        <h3>Menu 2</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>


  </div>
